html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Layout */
.main-container {
  background-image: url(asian1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: transparent;
}
main {
  position: absolute;
  top: 90%;
  right: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  width: fit-content;
  /*border: 3px solid #a04848;*/
  background-color: #a04848;
}
.button1 {
  border-color: #a04848;
  color:#a04848;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 2px;
  font-size: 30px;
  border-color: transparent;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button1:hover {
  border: 2px solid #a04848;
  box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #ffffff;
  background-color: #a04848;
}
.button1:focus {
  outline: none; 
}
footer {
  grid-area: footer;
  background-color: #a04848;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

.responsive {
    width: 100%;
    height: auto;
  }

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.logo {
  color: #a04848;
  font-size: 3rem;
  font-weight: bold;
}

a.headerconfig {
  color: #a04848;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #a04848;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: #ffffff;
      color: rgb(0, 0, 0);
    }