html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

/* Global staff */
header a {
  color: #ffffff;
  padding: 1rem;
}

a {
  text-decoration: none;
}

/*Navigator Staff*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.headerconfig {
  color: #a04848;
  margin-right: 5px;
}

a.logo {
  color: #a04848;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

/* Dropdown Button */
.dropbutton {
  background-color: #a04848;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbutton {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  outline: none;
}

/* Main Container */
.main-container {
  flex: 1;
  background-image: url(asian1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 50%;
}

.main-container img {
  display: flex;
}

/* Menu staff*/
main {
  position: absolute;
  top: 50%;
  width: 100%;
}

.onlineDeliver-menu-container {
  display: flex;
  margin-right: 10px;
  margin-top: 20px;
}

main > header {
  display: flex;
  font-size: 41px;
  align-items: center;
  justify-content: center;
  color: #505050;
  background-color: #f0f0f0;
  height: 6%;
  box-shadow: 0 4px 2px -2px rgb(158, 158, 158);
}

.row-of-menu {
  min-width: 10%;
  margin-left: 16px;
  margin-right: 1px;
  margin-top: 14px;
}

.row-of-menu > header {
  font-size: 16px;
  color: rgb(172 172 172);
  
}

.row-of-menu > a {
  font-size: 20px;
  color: rgb(144 144 144);
  margin: 1%;
}

.menu-specific {
  background: #ffffff;
  border: 3px rgb(255, 255, 255) solid;
  box-shadow: 0px 0px 15px 4px rgb(158 158 158);
  margin: 5px;
  margin-left: 1px;
  margin-right: 1px;
  min-width: 59%;
  height: 500px;
  overflow-y: scroll;
}

.menu-specific::-webkit-scrollbar {
  display: none;
}

.menu-specific hr{
  height: 1px;
  background-color: black;
  
}

.menu-specific header{
  font-size: 20px;
  margin: 5px;
  color: #272727;
}

.menu-specific h1 {
  margin-left: 2.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.menu-specific p {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
  color: #272727;
}

.menu-specific  span {
  float: right;
  margin-right: 10px;
  font-size: 15px;
  font-weight: normal;
}

.cart {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #8f8e8e;
  background-color: #ffffff;
  width: 30%;
  height: fit-content;
  margin: 5px;
  margin-left: 6px;
  margin-right: 1px;
  border: 3px rgb(255, 255, 255) solid;
  box-shadow: 0px 0px 15px 4px rgb(158 158 158);
}

.cart > h1 {
  display: flex;
  margin-top: 18px;
  margin-bottom: 18px;
  justify-content: center;
  font-size: 21px;
  color: #272727;
}

.cart div {
  display: flex;
  margin-left: 16px;
  margin-top: -7px;
  margin-bottom: 10px;
}

.location {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
}

.location > div > img {
  width: 24px;
  height: 23px;
  margin-right: 6px;
  margin-left: -16px;
}

.location > div > address {
  font-size: 15px;
  margin-top: 5px;
}

.locationChange {
  margin-right: 16px;
  border: none;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  width: 66px;
  height: 24px;
}
.locationChange:hover {
  background-color: #6c6c6c;
  text-decoration: underline;
}

.deliverChange {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #989696;
  border: none;
  margin-top: -7px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 18px;
  height: 30px;
  font-size: 15px;
}
.deliverChange:focus {
  outline: none;
}
.deliverChange > img {
  height: 15px;
  width: 15px;
}

.dropdownDeliverChange {
  display: none;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center; */
  background-color: #989696;
  border: none;
  margin-top: -7px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 30px;
  font-size: 15px;
}

.items {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
}

.split {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 7px;
  margin-top: -15px;
}

.items p {
  margin-top: -10px;
  margin-left: 6px;
  margin-bottom: 10px;
}

.item {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-right: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item h {
  margin-left: -17px;
  color: #272727;
  font-size: 20px;
  font-weight: bold;
}

.cancelItem {
  background-image: url(Roundicons-100-Free-Solid-Cancel.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-color: transparent;
  color: transparent;
  width: 21px;
  border: none;
}
.cancelItem:hover {
  background-color: #989696;
}
.cancelItem:focus {
  outline: none;
}

.itemsCostAndQuantity {
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  margin-right: 16px;
}

.itemsCostAndQuantity input {
  margin-left: -14px;
  width: 43px;
}
.itemsCostAndQuantity var {
  color: #000000;
  font-size: 18px;
}

.costSum {
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #000;
  font-size: 18px;
  margin-right: 16px;
}

.submitDelivery {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  background-color:  transparent;
  border: none;
  height: 36px;
  font-size: 23px;
  margin-bottom: 7px;
}

.submitDelivery:hover {
  background-color: #d89917;
}
.submitDelivery:focus {
  outline: none;
}

/*Footer staff*/
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #a04848;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #eee;
}

.main-footer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer ul {
  list-style-type: none;
  padding-inline-start: 15px;
}


.socialmedia-list {
  display: flex;
}

.socialmedia-list li {
  margin-right: 20px;
}

.legal-list {
  display: flex;
}

.legal-list li {
  margin-right: 20px;
}

.legal-list a:hover {
  text-decoration: underline;
}

.copyrights {
  margin-right: 15px;
}

li::marker {
  display: none;
}